block header
  .android-header.mdl-layout__header.mdl-layout__header--waterfall
    .mdl-layout__header-row
      span.android-title.mdl-layout-title
        img.android-logo-image(src=logo)
      // Add spacer, to align navigation to the right in desktop
      .android-header-spacer.mdl-layout-spacer
      .android-search-box.mdl-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-textfield--full-width
        label.mdl-button.mdl-js-button.mdl-button--icon
          i.material-icons#cameraButton camera_enhance
        .mdl-textfield__expandable-holder
          input#search-field.mdl-textfield__input(type='text')
      // Navigation
      .android-navigation-container
        nav.android-navigation.mdl-navigation
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') Phones
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') Tablets
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') Wear
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') TV
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') Auto
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') One
          a.mdl-navigation__link.mdl-typography--text-uppercase(href='') Play
      span.android-mobile-title.mdl-layout-title
        img.android-logo-image(src=logo)
      button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons more_vert
      ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
        li.mdl-menu__item 5.0 Lollipop
        li.mdl-menu__item 4.4 KitKat
        li.mdl-menu__item(disabled='') 4.3 Jelly Bean
        li.mdl-menu__item Android History
  .android-drawer.mdl-layout__drawer
    span.mdl-layout-title
      img.android-logo-image(src=logo)
    nav.mdl-navigation
      a.mdl-navigation__link(href='') Phones
      a.mdl-navigation__link(href='') Tablets
      a.mdl-navigation__link(href='') Wear
      a.mdl-navigation__link(href='') TV
      a.mdl-navigation__link(href='') Auto
      a.mdl-navigation__link(href='') One
      a.mdl-navigation__link(href='') Play
      .android-drawer-separator
      span.mdl-navigation__link(href='') Versions
      a.mdl-navigation__link(href='') Lollipop 5.0
      a.mdl-navigation__link(href='') KitKat 4.4
      a.mdl-navigation__link(href='') Jelly Bean 4.3
      a.mdl-navigation__link(href='') Android history
      .android-drawer-separator
      span.mdl-navigation__link(href='') Resources
      a.mdl-navigation__link(href='') Official blog
      a.mdl-navigation__link(href='') Android on Google+
      a.mdl-navigation__link(href='') Android on Twitter
      .android-drawer-separator
      span.mdl-navigation__link(href='') For developers
      a.mdl-navigation__link(href='') App developer resources
      a.mdl-navigation__link(href='') Android Open Source Project
      a.mdl-navigation__link(href='') Android SDK
